@{
    ViewBag.Title = "Home Page";
}

<!-- Page Content -->
<div class="container">
   
    <div class="row">

        <div class="col-lg-3">

            <h2 class="my-4">Top categories for this week</h2>
            <div class="list-group">
                <a href="/OnePotRecipes/Index" class="list-group-item">One Pot Recepies</a>
                <a href="/Ketoes/Index" class="list-group-item">Keto</a>
                <a href="/Vegetarians/Index" class="list-group-item">Vegetarian</a>
            </div>

        </div>
        <!-- /.col-lg-3 -->

        <div class="col-lg-9">

           

            <div class="row">
                <br />

                <div class="col-lg-6 col-md-6 mb-4">
                    <div class="card h-100">
                        <a href="#"><img class="card-img-top" src="https://i2.wp.com/gimmedelicious.com/wp-content/uploads/2016/03/lemon-garlic-salmon-asparagusi-21-of-23.jpg" alt="" style="width:150px; height:150px"></a>
                        <div class="card-body">
                            <h4 class="card-title">

                                <a href="/OnePotRecipes/Details/2">One Pan Lemon Garlic Salmon and Asparagus</a>
                            </h4>

                            <p class="card-text">This recipe is so super fast to make and also it's super delicious!</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6 mb-4">
                    <div class="card h-100">
                        <a href="#"><img class="card-img-top" src="https://www.tasteofhome.com/wp-content/uploads/2018/01/exps164723_HCK163687C07_17_1b-3.jpg" alt="" style="width:150px; height:150px"></a>
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="/Vegetarians/Details/4">Fiesta Time Omelet</a>
                            </h4>

                            <p class="card-text">An amazing breakfast! And what's most important it's vegetarian.</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6 mb-4">
                    <div class="card h-100">
                        <a href="#"><img class="card-img-top" src="https://therecipecritic.com/wp-content/uploads/2018/08/instant-pot-broccoli-and-beef-4.jpg" alt="" style="width:150px; height:150px"></a>
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="/OnePotRecipes/Details/3">Instant Pot Beef And Broccoli</a>
                            </h4>

                            <p class="card-text">Only one pot to make, which makes this recepie very easy for preparation!</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6 mb-4">
                    <div class="card h-100">
                        <a href="#"><img class="card-img-top" src="https://th.bing.com/th/id/OIP.5OKq0E5Et0gO3IxPA-cH2QHaHa?pid=Api&rs=1" alt="" style="width:150px; height:150px"></a>
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="/Ketoes/Details/8">Keto Bacon Cauliflower “Mac” ‘N’ Cheese</a>
                            </h4>

                            <p class="card-text">Surprise your family with this keto friendly meal. It's super easy and also super healthy!</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                        </div>
                    </div>
                </div>

               

                

            </div>
            <!-- /.row -->

        </div>
        <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

</div>
<!-- /.container -->